@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}
body {
    font-family: "PT Sans", sans-serif;
    font-size:  20px;
    line-height: 26px;
    color: #000000;
    background-color: #ffffff;
}
.button {
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
}
.navigation-link-button {
    background-color: #756157;
}
.page-header {
    color: #000000;
    background-color: #ffffff;
}
.navigation-link {
    font-weight: 700;
    text-align: center;
    color: inherit;
    background-color: #ffffff;
    text-decoration: none;
    text-transform: none;
}
.welcome {
    background-image:  url("../images/jpg/index-background.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: auto; 
  }
.welcome-sedona {
    text-align: center;
    color: #000000;
    background-color: #ffffff;
}
.slogan {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}
.slogan-description {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    background-color: #ffffff;
    color: #000000;
}
.advantages-list {
    text-align: center;
    background-color: #ffffff;
}

.advantages-title {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}
.advantages-description {
    font-size: 18px;
    line-height: 21px;
}
.advantages-item {
    background-color:#ffffff;
}
.advantages-list {
    background-color: #ffffff;
}
.advantages-inner-list {
    background-color:#ffffff;
    color:#000000;
}
.advantages-item:first-child,
.advantages-item:nth-child(2) {
    background-color: #82b3d3;
    color: #ffffff;
}
.advantages-inner-item:nth-child(odd) {
    background-color: rgba(131, 179, 211, 0.12)
}
.advantages-inner-item:nth-child(2) {
    background-color: #ffffff;
}
.advantages-item:nth-child(4) {
    background-color: rgba(131, 179, 211, 0.2);
}
.advantages-item:nth-child(3),
.advantages-item:nth-child(5) {
    background-color: rgba(131, 179, 211, 0.12);
}
.hotel-booking {
    text-align: center;
    color: #000000;
    background-color:#ffffff;
}
 .hotel-booking-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}
 .hotel-booking-description {
    font-size: 22px;
    line-height: 26px;
    color:#333333;
}
 .hotel-booking-link {
    background-color:#756157;
    border-radius: 4px;
    color:#ffffff;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
}
.subscription {
    background-image: url("../images/jpg/footer-background.jpg");
    text-align: center;
    background-repeat: no-repeat;
    color:#ffffff;
    background-size: 100% auto;
}   
.subscription-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}
.subscription-description {
    font-size: 22px;
    line-height: 26px;
}
.subscription-form {
    background-color: #f2f2f2;
    border-radius: 0px 10px 10px 0px;
    font-weight: 400;
    line-height: 60px;
}
.subscription-button {
    background-color: #82b3d3;
}
.page-footer {
    background-color: #ffffff;
    color: #000000;
}
.footer-link {
    text-decoration: none;
}
.footer-link-number {
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}
.welcome-start {
    text-align: center;
}
.filter {
    color: #ffffff; 
    background-image: url("../images/jpg/catalog-background.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto; 
}
.inner-header-title {
    font-size: 60px;
    font-weight: 700;
    line-height: 78px;
}
.breadcrumbs-list {
    font-size: 16px;
    line-height: 21px;
}
.catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}
.catalog-filter-item {
    font-size: 18px;
    line-height: 21px;
}
.submit-button {
    background-color: #82b3d3;
}
.reset-button {
    background-color: rgba(84, 106, 117, 0.5); 
    border: none;
    text-transform: none;
}
 .hotel-search {
    background-color: #ffffff;
} 
.hotels-found {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}
.select-controle {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}
.hotels-card-link {
    text-decoration: none;
    color:#000000;
}
.hotel-card-title {
    color:#000000;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}
.hotel-type, .hotel-card-price {
    color:#333333;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}
.brown-button {
    background-color: #756157;
}
.blue-button {
    background-color: #82b3d3;
}
.green-button {
    background-color: #7db54f;
}
.grey-button {
    background-color:#f2f2f2;
    border: none;
}
.pagination {
    background-color: #82b3d3;
}
.pagination-link {
    color: #ffffff;
    background-color: #83b3d3;
    text-decoration: none;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    font-size: 20px;
}
.pagination-current {
    background-color: #f2f2f2;
    color:#000000;
}